
language: python

matrix:
  include:
    - os: linux
      language: generic
      env: pyver=python
    - os: osx
      language: generic
      env: pyver=python
    - os: osx
      language: generic
      env: pyver=python3   

install:
  - echo install...
  - if [[ ("$TRAVIS_OS_NAME" == "osx") && ("$pyver" == "python3") ]]; then brew install $pyver;echo done installing python; fi

script:
  - $pyver -c "import struct; print('python says it\'s a {0}bit machine'.format(struct.calcsize('P') * 8))"
